@import "tailwindcss";

/* these are necessary styles for vue flow */
@import "@vue-flow/core/dist/style.css";

/* this contains the default theme, these are optional styles */
@import "@vue-flow/core/dist/theme-default.css";

@import "primeicons/primeicons.css";

@theme {
  --color-dark-bg: #0c0c0c;
  --color-accent: #f2613f;
  --color-main-text: #eeeeee;
}
